@import "../helium/helium";

@mixin customTheme {
  @include helium;
  /* AppMenu */
  --menubar-menuitem-selected-background-color: #A18BD7;

  /* Basic */
  --app-background-color: #FAFAFA;
  --error-color: #FF415B;
  --primary-color: #A18BD7;
  --primary-color_rgb: 161, 139, 215;

  /* Button */
  --button-default-active-color: #BFBFBF;
  --button-default-color: #F2F2F2;
  --button-default-disabled-color: #F2F2F2;
  --button-default-focused-border-color: #F2F2F2;
  --button-default-hover-color: #D6D6D6;
  --button-error-color: #FF415B;
  --button-primary-active-color: #914AFF;
  --button-primary-color: #A18BD7;
  --button-primary-hover-color: #7C59C2;

  /* Calendar */
  --calendar-event-background-color: #A18BD7;
  --calendar-month-day-bottom-spacer-hover-color: #A18BD7;
  --calendar-month-day-number-hover-color: #A18BD7;
  --calendar-month-day-today-day-number-border-color: #A18BD7;
  --calendar-month-day-today-day-number-color: #A18BD7;
  --calendar-month-event-marker-color: #A18BD7;
  --calendar-week-current-time-color: #A18BD7;

  /* CheckBox */
  --checkbox-checked-border-color: #A18BD7;
  --checkbox-checked-color: #A18BD7;
  --checkbox-checked-focused-border-color: #A18BD7;
  --checkbox-checked-focused-color: #A18BD7;

  /* DateField */
  --datefield-calendarpanel-button-hover-color: #A18BD7;
  --datefield-calendarpanel-day-focused-border-color: #A18BD7;
  --datefield-calendarpanel-day-hover-color: #A18BD7;
  --datefield-calendarpanel-day-selected-background-color: #A18BD7;

  /* FileUpload */
  --fileupload-dropzone-border-color: #A18BD7;

  /* Grid */
  --grid-details-deco-color: #A18BD7;
  --grid-drop-marker-color: #A18BD7;
  --grid-editor-border-color: #A18BD7;
  --grid-editor-cancel-button-color: #A18BD7;
  --grid-editor-save-button-color: #A18BD7;
  --grid-focused-cell-border-color: #A18BD7;
  --grid-row-drag-background-color: #A18BD7;
  --grid-row-drag-border-color: #A18BD7;
  --grid-selected-row-background-color: #A18BD7;

  /* Link */
  --link-color: #A18BD7;
  --link-visited-color: #A18BD7;

  /* Notification */
  --notification-error-background-color: #FF415B;
  --notification-humanized-background-color: #A18BD7;

  /* Pagination */
  --pagination-selected-page-active-color: #914AFF;
  --pagination-selected-page-color: #A18BD7;
  --pagination-selected-page-focused-border-color: #A18BD7;
  --pagination-selected-page-hover-color: #7C59C2;

  /* RadioButtonGroup */
  --radio-checked-color: #A18BD7;

  /* SelectionOverlay (ContextMenu) */
  --selection-overlay-selected-item-background-color: #A18BD7;

  /* SideMenu */
  --sidemenu-item-badge-color: #A18BD7;
  --sidemenu-item-focused-color: #A18BD7;
  --sidemenu-item-selected-background-color: #A18BD7;
  --sidemenu-responsive-item-selected-background-color: #A18BD7;

  /* TabSheet */
  --tabsheet-drop-indicator-color: #A18BD7;
  --tabsheet-scroller-button-hover-color: #A18BD7;
  --tabsheet-tabitemcell-caption-focus-color: #A18BD7;
  --tabsheet-tabitemcell-caption-hover-color: #A18BD7;
  --tabsheet-tabitemcell-selected-color: #A18BD7;
  --tabsheet-tabitemcell-selected-deco-color: #A18BD7;

  /* Table */
  --table-focused-row-border-color: #A18BD7;
  --table-selected-row-background-color: #A18BD7;

  /* TagField */
  --tagfield-tag-background-color: #A18BD7;

  /* TagLabel */
  --taglabel-background-color: #A18BD7;

  /* TagPicker */
  --tagpicker-tag-background-color: #A18BD7;

  /* Tooltip */
  --tooltip-error-message-font-color: #FF415B;
  --tooltip-error-message-level-error-font-color: #FF415B;
  --tooltip-error-message-level-system-font-color: #A18BD7;

  /* Tree */
  --tree-focused-row-border-color: #A18BD7;
  --tree-selected-row-background-color: #A18BD7;
}